<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Class:</b>
  <%= @character.class %>
</p>

<p>
  <b>Subclass:</b>
  <%= @character.subclass %>
</p>

<p>
  <b>Race:</b>
  <%= @character.race %>
</p>

<p>
  <b>Subrace:</b>
  <%= @character.subrace %>
</p>

<p>
  <b>Strength:</b>
  <%= @character.strength %>
</p>

<p>
  <b>Dexterity:</b>
  <%= @character.dexterity %>
</p>

<p>
  <b>Constitution:</b>
  <%= @character.constitution %>
</p>

<p>
  <b>Intelligence:</b>
  <%= @character.intelligence %>
</p>

<p>
  <b>Wisdom:</b>
  <%= @character.wisdom %>
</p>

<p>
  <b>Charisma:</b>
  <%= @character.charisma %>
</p>

<p>
  <b>Background:</b>
  <%= @character.background %>
</p>

<p>
  <b>Background notes:</b>
  <%= @character.background_notes %>
</p>

<p>
  <b>Equipment:</b>
  <%= @character.equipment %>
</p>

<p>
  <b>Hit points:</b>
  <%= @character.hit_points %>
</p>

<p>
  <b>Hit dice number:</b>
  <%= @character.hit_dice_number %>
</p>

<p>
  <b>Hit dice type:</b>
  <%= @character.hit_dice_type %>
</p>

<p>
  <b>Armor class:</b>
  <%= @character.armor_class %>
</p>

<p>
  <b>Initiative mod:</b>
  <%= @character.initiative_mod %>
</p>

<p>
  <b>Melee attack mod:</b>
  <%= @character.melee_attack_mod %>
</p>

<p>
  <b>Ranged attack mod:</b>
  <%= @character.ranged_attack_mod %>
</p>

<p>
  <b>Magical ability mod:</b>
  <%= @character.magical_ability_mod %>
</p>

<p>
  <b>Saving throw dc:</b>
  <%= @character.saving_throw_dc %>
</p>

<p>
  <b>Height:</b>
  <%= @character.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @character.weight %>
</p>

<p>
  <b>Physical description:</b>
  <%= @character.physical_description %>
</p>

<p>
  <b>Goals and motivations:</b>
  <%= @character.goals_and_motivations %>
</p>

<p>
  <b>Alignment:</b>
  <%= @character.alignment %>
</p>

<p>
  <b>Personality:</b>
  <%= @character.personality %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
