<h2>Edit Post</h2>

<%= form_for @post, :url => post_path(@post.id) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :url, "URL" %>
	<%= f.text_field :url %>
	<%= f.label :description %>
	<%= f.text_area :description %>
	<%= f.label :categories %>
	<%= f.select :categories, @category_list.collect{|c| [c.name, c.id]}, {}, {multiple: 'multiple'} %>
	<br />
	<%= f.submit %>
<% end %>